.bg-cover {
    background-image: url(../images/educacion_publica.png);
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
    background-color: #f2f2f2;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    height: 100vh;
    min-height: 480px;
}

/* prueba de css panel */
.title {
    font-size: 5.5rem;
}

.nav-links {
    float: right;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

/* Links nav Bar */

.links > a {
    color: #636b6f;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;

}


/****************************
 *
 *  Paleta cromatica SLEP/AS
 *
 ****************************/

/*  Botones Outline */
.btn-outline-celeste {
    color: #1f84ec;
    border-color: #1f84ec;
}
.btn-outline-celeste:hover {
    color: #fff;
    background-color: #1f84ec;
}

/* Outline Portada */

.btn-portaline-rojo:hover {
    color: #fff;
    background-color: #ff3c4c;
}
.btn-portaline-verde:hover {
    color: #fff;
    background-color: #90d039;
}
.btn-portaline-amarillo:hover {
    color: #fff;
    background-color: #f8d63c;
}
.btn-portaline-azul:hover {
    color: #fff;
    background-color: #1f84ec;
}
.btn-portaline-celeste:hover {
    color: #fff;
    background-color: #3abff0;
}

/* Botones Badge  */
.badge-btn-rojo:hover {
    color: #fff;
    background-color: #ff3c4c;
}
.badge-btn-verde:hover {
    color: #fff;
    background-color: #90d039;
}
.badge-btn-amarillo:hover {
    color: #fff;
    background-color: #f8d63c;
}
.badge-btn-azul:hover {
    color: #fff;
    background-color: #1f84ec;
}
.badge-btn-celeste:hover {
    color: #fff;
    background-color: #3abff0;
}
.badge-btn-rosa:hover {
    color: #fff;
    background-color: #dd798a;
}
.badge-btn-negro:hover {
    color: #fff;
    background-color: #282828;
}

/* Estilo KIT DIGITAL */
.card-digital {
    min-height: 300px;
}

.prueba {
    top: 15rem;
}
@media (max-width: 992px){
    .prueba {
        top: 0;
    }
}
@media (max-height: 480px){
    .prueba {
        top: 0;
    }
}

/*
 *
 *      Prueba
 *
 */
